body {
	margin: 0px;
	background-color: #c0ffee;
}
ul {
	list-style-type: none;
	font-size: 2em;
	list-style: none;
	margin-top: 0;
}
nav {
	height: 40px;
    display: flex;
    justify-content: center;
	background-color: blanchedalmond;
}
li {
	margin: 1.5em;
	padding: 2px;
	display: inline;
}
a {
	color: tomato	;
	text-decoration: none;
}
a:hover {
	background-color: #ff2dba;
	color: white;
	transition-duration: 0.7s;
}
img {
	max-width: 200px
}
table, th, td {
	border: 2px solid black;
}
table {
	margin: 0 auto;
}
.center-text {
	text-align: center;
}
input {
	    box-shadow: 10px 10px 5px #888888;

}


